<!-- templates/property_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Add - BM ERP{% endblock %}

{% block content %}
<div class="rubick px-5 sm:px-8 py-5 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 before:fixed before:inset-0 before:z-[-1]">

    <!-- BEGIN: Mobile Menu -->
    {% include 'partials/mobile.html' %}
    <!-- END: Mobile Menu -->

    <div class="mt-[4.7rem] flex md:mt-0">

        <!-- BEGIN: Side Menu -->
        {% include 'partials/sidebar_list.html' %}
        <!-- END: Side Menu -->

        <!-- BEGIN: Content -->
        <div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">

            <!-- BEGIN: Top Bar -->
            {% include 'partials/header.html' %}
            <!-- END: Top Bar -->

            <div class="container mx-auto mt-10">

                <div class="max-w-2xl mx-auto">
                    <div class="max-w-lg mx-auto bg-white shadow-lg rounded-lg">

                        <div class="p-6 text-center">
                
                            <h2 class="text-xl font-bold text-red-600">
                                Delete Record
                            </h2>
                
                            <p class="mt-4 text-gray-700">
                                Are you sure you want to delete
                                <strong>{{ record.file_no }}</strong> ?
                            </p>
                
                            <form method="POST"  class="w-full max-w-3xl mx-auto bg-white p-5 shadow-lg rounded-lg">
                                {% csrf_token %}
                
                                <div class="flex justify-center gap-3">
                
                                    <a href="{% url 'file_record_list' %}" style="background-color:#1e40ac"
                                       class="px-5 py-2 bg-gray-500 text-white rounded-lg hover:bg-gray-600">
                                        Cancel
                                    </a>
                
                                    <button type="submit" style="margin-left:0.5%;background-color:#1e40ac"
                                            class="px-5 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700">
                                        Delete
                                    </button>
                
                                </div>
                            </form>
                
                        </div>
                
                    </div>
                </div>

            </div>

        </div>
        <!-- END: Content -->

    </div>

</div>
{% endblock %}