<!-- templates/property_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Properties Owner Add - BM ERP{% endblock %}

{% block content %} 
    <div class="rubick px-5 sm:px-8 py-5 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 before:fixed before:inset-0 before:z-[-1]">
        <!-- BEGIN: Mobile Menu -->
        {% include 'partials/mobile.html' %}
        <!-- END: Mobile Menu -->
        <div class="mt-[4.7rem] flex md:mt-0">
            <!-- BEGIN: Side Menu -->
            {% include 'partials/sidebar_list.html' %}
            <!-- END: Side Menu -->
            <!-- BEGIN: Content -->
            <div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
                <!-- BEGIN: Top Bar -->  
				{% include 'partials/header.html' %}
                
                <!-- END: Top Bar -->
                <h2 class="intro-y mt-10 text-lg font-medium">Add New Property Owner</h2>
                <div class="mt-5 grid grid-cols-12 gap-6">
                    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                         <form method="POST" class="w-full max-w-3xl mx-auto bg-white p-5 shadow-lg rounded-lg" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                <!-- Owner Name -->
                                <div class="mb-4">
                                    <label for="id_owner_name" class="font-medium text-lg">Owner Name</label>
                                    <input type="text" id="owner_name" name="owner_name" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10"  value="{{ form.owner_name.value }}">
                                    {% if form.owner_name.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.owner_name.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            
                                <!-- Contact Information -->
                                <div class="mb-4">
                                    <label for="id_contact_information" class="font-medium text-lg">Contact Information</label>
                                    <textarea id="contact_information" name="contact_information" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10" >{{ form.contact_information.value }}</textarea>
                                    {% if form.contact_information.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.contact_information.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            
                                <!-- Owner Type -->
                                <div class="mb-4">
                                    <label for="id_owner_type" class="font-medium text-lg">Owner Type</label>
                                    <input type="text" id="owner_type" name="owner_type" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10"  value="{{ form.owner_type.value }}">
                                    {% if form.owner_type.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.owner_type.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            
                                <!-- Ownership Type -->
                                <div class="mb-4">
                                    <label for="id_ownership_type" class="font-medium text-lg">Ownership Type</label>
                                    <input type="text" id="ownership_type" name="ownership_type" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10"  value="{{ form.ownership_type.value }}">
                                    {% if form.ownership_type.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.ownership_type.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>                          
                                
                                <!-- Telephone Number -->
                                <div class="mb-4">
                                    <label for="id_telephone_number" class="font-medium text-lg">Phone Number</label>
                                    <input type="text" id="telephone_number" name="telephone_number" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10"  value="{{ form.telephone_number.value }}">
                                    {% if form.telephone_number.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.telephone_number.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            
                                <!-- Current Address -->
                                <div class="mb-4">
                                    <label for="id_current_address" class="font-medium text-lg">Current Address</label>
                                    <textarea id="current_address" name="current_address" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10" >{{ form.current_address.value }}</textarea>
                                    {% if form.current_address.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.current_address.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <!-- NID Card -->
                                <div class="mb-4">
                                    <label for="id_nid_card_details" class="font-medium text-lg">NID Card</label>
                                    <input type="file" name="nid_card_details" id="nid_card_details" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10" >
                                    {% if form.nid_card_details.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.nid_card_details.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                                <!-- Utility Bill -->
                                <div class="mb-4">
                                    <label for="id_utility_bill" class="font-medium text-lg">Utility Bill </label>
                                    <input type="file" name="utility_bill" id="utility_bill" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10" >
                                    {% if form.utility_bill.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.utility_bill.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            
                                <!-- Photo -->
                                <div class="mb-4">
                                    <label for="id_photo" class="font-medium text-lg">Photo</label>
                                    <input type="file" name="photo" id="photo" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10" >
                                    {% if form.photo.errors %}
                                    <ul class="text-red-600 mt-1">
                                        {% for error in form.photo.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            
                                <!-- Buttons -->
                                <div class="text-right">
                                    <button type="submit" style="background-color:#1e3c98"  class="btn btn-primary bg-blue-600 text-white px-6 py-2 rounded-md">Save Owner</button>
                                    <a href="{% url 'property_owner_list' %}" style="background-color:#1e3c98"  class="btn btn-secondary bg-gray-600 text-white px-6 py-2 rounded-md ml-2">Cancel</a>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                </div>
           
            </div>
            <!-- END: Content -->
        </div>
    </div>
{% endblock %}
