<!-- templates/property_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Lead Add - BM ERP{% endblock %}

{% block content %} 
    <div class="rubick px-5 sm:px-8 py-5 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 before:fixed before:inset-0 before:z-[-1]">
        <!-- BEGIN: Mobile Menu -->
        {% include 'partials/mobile.html' %}
        <!-- END: Mobile Menu -->
        <div class="mt-[4.7rem] flex md:mt-0">
            <!-- BEGIN: Side Menu -->
            {% include 'partials/sidebar_list.html' %}
            <!-- END: Side Menu -->
            <!-- BEGIN: Content -->
            <div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
                <!-- BEGIN: Top Bar -->  
				{% include 'partials/header.html' %}
                
                <!-- END: Top Bar -->
                <h2 class="intro-y mt-10 text-lg font-medium">Customer Lead Add</h2>
                <div class="mt-5 grid grid-cols-12 gap-6">
                    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible p-5">
                        <form method="POST" enctype="multipart/form-data" class="w-full max-w-3xl mx-auto bg-white p-5 shadow-lg rounded-lg">
                            {% csrf_token %}
                            
                            <!-- Customer -->
                            <div class="mb-4">
                                <label for="customer" class="font-medium text-lg text-gray-800">Customer</label>
                                <select id="customer" name="customer"
                                        class="w-full text-sm border-slate-200 shadow-sm rounded-md">
                                    {% for customer in customers %}
                                        <option value="{{ customer.id }}" {% if customer.id == form.customer.value %} selected {% endif %}>
                                            {{ customer.customer_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% for error in form.customer.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>

                            <!-- Lead Name -->
                            <div class="mb-4">
                                <label for="lead_name" class="font-medium text-lg text-gray-800">Lead Name</label>
                                <input type="text" id="lead_name" name="lead_name"
                                    class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                    placeholder="Enter Lead Name"
                                    value="{{ form.lead_name.value|default_if_none:'' }}">
                                {% for error in form.lead_name.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                            
                            <div class="mb-4">
                                <label for="project_name" class="font-medium text-lg text-gray-800">Project Name</label>
                                <select id="project_name" name="project_name"
                                        class="w-full text-sm border-slate-200 shadow-sm rounded-md">
                                    <option value="" {% if not form.project_name.value %} selected {% endif %}>-- Select Project --</option>
                                    {% for project in projects %}
                                        <option value="{{ project.id }}" {% if form.project_first_name.value == project.id %} selected {% endif %}>
                                            {{ project.project_first_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% for error in form.project_name.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        
                            <!-- First Contact Date -->
                            <div class="mb-4">
                                <label for="first_contact_date" class="font-medium text-lg text-gray-800">First Contact Date</label>
                                <input type="date" id="first_contact_date" name="first_contact_date"
                                       class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                       value="{{ form.first_contact_date.value|default_if_none:'' }}">
                                {% for error in form.first_contact_date.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                            
                            <!-- First Contact Note -->
                            <div class="mb-4">
                                <label for="first_contact_note" class="font-medium text-lg text-gray-800">First Contact Note</label>
                                <textarea id="first_contact_note" name="first_contact_note" rows="3"
                                          class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                          placeholder="Enter First Contact Note">{{ form.first_contact_note.value|default_if_none:'' }}</textarea>
                                {% for error in form.first_contact_note.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        
                            <!-- Second Contact Date -->
                            <div class="mb-4">
                                <label for="second_contact_date" class="font-medium text-lg text-gray-800">Second Contact Date</label>
                                <input type="date" id="second_contact_date" name="second_contact_date"
                                       class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                       value="{{ form.second_contact_date.value|default_if_none:'' }}">
                                {% for error in form.second_contact_date.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        
                            <!-- Second Contact Note -->
                            <div class="mb-4">
                                <label for="second_contact_note" class="font-medium text-lg text-gray-800">Second Contact Note</label>
                                <textarea id="second_contact_note" name="second_contact_note" rows="3"
                                          class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                          placeholder="Enter Second Contact Note">{{ form.second_contact_note.value|default_if_none:'' }}</textarea>
                                {% for error in form.second_contact_note.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        
                            <!-- Third Contact Date -->
                            <div class="mb-4">
                                <label for="third_contact_date" class="font-medium text-lg text-gray-800">Third Contact Date</label>
                                <input type="date" id="third_contact_date" name="third_contact_date"
                                       class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                       value="{{ form.third_contact_date.value|default_if_none:'' }}">
                                {% for error in form.third_contact_date.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        
                            <!-- Third Contact Note -->
                            <div class="mb-4">
                                <label for="third_contact_note" class="font-medium text-lg text-gray-800">Third Contact Note</label>
                                <textarea id="third_contact_note" name="third_contact_note" rows="3"
                                          class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                          placeholder="Enter Third Contact Note">{{ form.third_contact_note.value|default_if_none:'' }}</textarea>
                                {% for error in form.third_contact_note.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        
                            <!-- Additional Note -->
                            <div class="mb-4">
                                <label for="note" class="font-medium text-lg text-gray-800">Additional Note</label>
                                <textarea id="note" name="note" rows="3"
                                          class="w-full text-sm border-slate-200 shadow-sm rounded-md"
                                          placeholder="Enter Additional Note">{{ form.note.value|default_if_none:'' }}</textarea>
                                {% for error in form.note.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <!-- Status -->
                            <div class="mb-4">
                                <label for="status" class="font-medium text-lg text-gray-800">Status</label>
                                <select id="status" name="status"
                                        class="w-full text-sm border-slate-200 shadow-sm rounded-md">
                                    <option value="open" {% if form.status.value == 'open' %}selected{% endif %}>Open</option>
                                    <option value="close" {% if form.status.value == 'close' %}selected{% endif %}>Close</option>
                                </select>
                                {% for error in form.status.errors %}
                                    <p class="text-red-600 text-sm">{{ error }}</p>
                                {% endfor %}
                            </div>
                        
                            <!-- Submit & Back Buttons -->
                            <div class="text-center mt-6">
                                <button type="submit" style="background-color:#1e3c98"
                                        class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-2 rounded-md">
                                    💾 Save Lead
                                </button>
                                <a href="{% url 'customer_lead_list' %}" style="margin-left:0.5%;background-color:#1e3c98"
                                   class="bg-gray-600 hover:bg-gray-700 text-white px-6 py-2 rounded-md ml-2">
                                    🔙 Back to List
                                </a>
                            </div>
                        </form>
                        
                        
                        <br>  
                    </div>
                    
                    
                </div>
           
            </div>
            <!-- END: Content -->
        </div>
    </div>
{% endblock %}
