<!-- templates/property_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Account Name List - BM ERP{% endblock %}

{% block content %} 
<style>
    .message.success {
        color: green;
        background-color: #d4edda;
        padding: 10px;
        border-radius: 5px;
    }
    
    .message.error {
        color: red;
        background-color: #f8d7da;
        padding: 10px;
        border-radius: 5px;
    }
</style>
    <div class="rubick px-5 sm:px-8 py-5 before:content-[''] before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 dark:before:from-darkmode-800 dark:before:to-darkmode-800 before:fixed before:inset-0 before:z-[-1]">
        <!-- BEGIN: Mobile Menu -->
        {% include 'partials/mobile.html' %}
        <!-- END: Mobile Menu -->
        <div class="mt-[4.7rem] flex md:mt-0">
            <!-- BEGIN: Side Menu -->
            {% include 'partials/sidebar_list.html' %}
            <!-- END: Side Menu -->
            <!-- BEGIN: Content -->
            <div class="md:max-w-auto min-h-screen min-w-0 max-w-full flex-1 rounded-[30px] bg-slate-100 px-4 pb-10 before:block before:h-px before:w-full before:content-[''] dark:bg-darkmode-700 md:px-[22px]">
                <!-- BEGIN: Top Bar -->  
                {% include 'partials/header.html' %}
                <!-- END: Top Bar -->
            
                <h2 class="intro-y mt-10 text-lg font-medium">Account Name List</h2>
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <div class="mt-5 grid grid-cols-12 gap-6">
                    <div class="intro-y col-span-12 mt-2 flex flex-wrap items-center sm:flex-nowrap">
                        <a href="{% url 'capital_account_add' %}">
                            <button data-tw-merge="" class="transition duration-200 border inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 bg-primary border-primary text-white mr-2 shadow-md">Add New</button>
                        </a>                                          
                        <div class="mx-auto hidden text-slate-500 md:block">                             </div>
            
                        <div class="mt-3 w-full sm:ml-auto sm:mt-0 sm:w-auto md:ml-0">                           
                            <div class="relative w-56 text-slate-500 mb-4">
                                <input id="searchInput" type="text" placeholder="Search..." class="w-full p-2 text-sm border rounded-md shadow-sm focus:ring-4 focus:ring-primary" oninput="handleSearch()">
                                <i class="absolute inset-y-0 right-0 my-auto mr-3 h-4 w-4">🔍</i>
                            </div>
                        </div>
                    </div>
            
                   <!-- BEGIN: Credit Voucher -->
                    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                        <!-- BEGIN: Capital Account Form -->
						<div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
							<div class="max-w-3xl mx-auto bg-white border rounded-xl shadow-md p-8 mt-6">

								<h2 class="text-2xl font-semibold text-blue-800 border-b pb-2 mb-6">
									{{ title }}
								</h2>

								<form method="post" enctype="multipart/form-data" class="space-y-5">
									{% csrf_token %}

									{% for field in form.visible_fields %}
										<div>
											<label class="block mb-1 font-medium text-gray-700">{{ field.label }}</label>
											{{ field }}
											{% if field.errors %}
												<p class="text-sm text-red-600 mt-1">
													{{ field.errors|striptags }}
												</p>
											{% endif %}
										</div>
									{% endfor %}

									{% if form.non_field_errors %}
										<div class="text-sm text-red-600">
											{{ form.non_field_errors }}
										</div>
									{% endif %}

									<div class="flex items-center justify-start gap-4 pt-4">
										<button type="submit" style="background-color:#1e3c98"
											class="bg-blue-700 hover:bg-blue-800 text-white px-5 py-2 rounded shadow transition duration-150">
											Save
										</button>
										<a href="{% url 'capital_account_list' %}" style="margin-left:0.5%;background-color:#1e3c98"
										   class="bg-gray-300 hover:bg-gray-400 text-white px-4 py-2 rounded shadow transition duration-150">
											Cancel
										</a>
									</div>
								</form>
							</div>
						</div>

                        <script>
                            function handleSearch() {
                                let searchValue = document.getElementById('searchInput').value.toLowerCase();
                                let rows = document.querySelectorAll("#tableBody tr");
                    
                                rows.forEach(row => {
                                    let columns = row.getElementsByTagName("td");
                                    let rowText = "";
                                    
                                    // Combine text content of all columns in the row for searching
                                    for (let i = 0; i < columns.length; i++) {
                                        rowText += columns[i].textContent.toLowerCase(); // Get all text in row
                                    }
                    
                                    // If search term is found in the row's combined text, show the row, else hide it
                                    if (rowText.includes(searchValue)) {
                                        row.style.display = ""; // Show row
                                    } else {
                                        row.style.display = "none"; // Hide row
                                    }
                                });
                            }
                        </script>
                    </div>
                    <!-- END: Credit Voucher -->
                    <!-- Popup for selecting Project Name and Category for insert BOQ-->
                    <div id="popup" style="display: none;">
                        <div class="popup-content">
                            <h3>Select Project Name and Vendor</h3>
                            <form id="popup-form">
                                <!-- Project Name Input -->
                                <label for="project-input" class="form-label">Project Name:</label>
                                <select id="project-select" class="form-select" required>
                                    <option value="">Select a Project</option>
                                    {% for projectFirst in projects_firts %}
                                        <option value="{{ projectFirst.id }}">{{ projectFirst.project_first_name }}</option>
                                    {% endfor %}
                                </select>
                                <!-- supplier Select -->
                                <label for="supplier-select" class="form-label">Vendor Name:</label>                               
                                <select id="supplier-select" class="form-select" required>
                                    <option value="">Select a Type</option>
                                    {% for supplier in suppliers %}
                                        <option value="{{ supplier.id }}">{{ supplier.supplier_name }}</option>
                                    {% endfor %}
                                </select>                               
                                <div class="popup-actions">
                                    <!-- Cancel Button -->
                                    <button type="button" class="cancel-btn" onclick="closePopup()">Cancel</button>
                        
                                    <!-- Submit Button -->
                                    <button type="button" class="submit-btn" onclick="submitPopup()">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Styles for Popup -->
                    <style>
                        #popup {
                            position: fixed;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0, 0, 0, 0.5);
                            display: none;
                            justify-content: center;
                            align-items: center;
                            z-index: 1000;
                        }

                        .popup-content {
                            background: white;
                            padding: 30px;
                            border-radius: 10px;
                            width: 400px;
                            text-align: center;
                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        }

                        .popup-content h3 {
                            margin-bottom: 20px;
                            font-size: 20px;
                            font-weight: bold;
                            color: #333;
                        }

                        /* Styling for Form Inputs */
                        .form-label {
                            display: block;
                            margin-bottom: 8px;
                            text-align: left;
                            font-size: 14px;
                            color: #555;
                        }

                        .form-input,
                        .form-select {
                            width: 100%;
                            padding: 10px;
                            margin-bottom: 15px;
                            border: 1px solid #ddd;
                            border-radius: 5px;
                            font-size: 14px;
                            transition: border 0.3s;
                        }

                        .form-input:focus,
                        .form-select:focus {
                            border-color: #4caf50;
                            outline: none;
                        }

                        /* Button Styles */
                        .popup-actions {
                            display: flex;
                            justify-content: space-between;
                        }

                        .popup-actions button {
                            padding: 10px 20px;
                            border: none;
                            border-radius: 5px;
                            font-size: 14px;
                            cursor: pointer;
                            transition: background 0.3s;
                            width: 45%;
                        }

                        .cancel-btn {
                            background-color: #f44336;
                            color: white;
                        }

                        .submit-btn {
                            background-color: #4caf50;
                            color: white;
                        }

                        .cancel-btn:hover {
                            background-color: #d32f2f;
                        }

                        .submit-btn:hover {
                            background-color: #45a049;
                        }

                        /* Responsive Design */
                        @media (max-width: 600px) {
                            .popup-content {
                                width: 90%;
                            }
                        }
                    </style>

                    <script>
                        // Function to open the popup
                        function openPopup() {
                            document.getElementById('popup').style.display = 'flex';
                        }
                    
                        // Function to close the popup
                        function closePopup() {
                            document.getElementById('popup').style.display = 'none';
                        }
                    
                        // Function to handle the form submission
                        function submitPopup() {
                            const project_id = document.getElementById('project-select').value;
                            const supplier = document.getElementById('supplier-select').value;
                            // Validate if a project is selected
                            if (!project_id) {
                                alert('Please select a project!');
                                return;
                            }
                    
                            // Redirect to project Vendor Cash Type Update details page with selected project ID
                             window.location.href = "{% url 'vendor_cashtype_update' %}?project_id=" + encodeURIComponent(project_id) + "&supplier_id=" + encodeURIComponent(supplier);
                        }
                    </script>
                    <!-- END of Popup for selecting Project and category for insert BOQ -->
                    
                    <!-- END: Property Owners List -->
            
                    <!-- BEGIN: Pagination -->
                    <div class="intro-y col-span-12 flex flex-wrap items-center sm:flex-row sm:flex-nowrap">
                        <!-- Showing entries text -->
                        <div class="mx-auto hidden text-slate-500 md:block">
                            Showing {{ tenants.start_index }} to {{ tenants.end_index }} of {{ tenants.paginator.count }} entries
                        </div>
                    
                        <!-- Pagination navigation -->
                        <nav class="w-full sm:mr-auto sm:w-auto">
                            <ul class="flex w-full mr-0 sm:mr-auto sm:w-auto">
                                <!-- Previous Page -->
                                {% if tenants.has_previous %}
                                    <li class="flex-1 sm:flex-initial">
                                        <a href="?page={{ tenants.previous_page_number }}&page_size={{ tenants.paginator.per_page }}" class="transition duration-200 border items-center justify-center py-2 rounded-md cursor-pointer">
                                            <i class="chevrons-left h-4 w-4"></i> <!-- Left Chevron icon -->
                                            Previous
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="flex-1 sm:flex-initial">
                                        <span class="transition duration-200 border items-center justify-center py-2 rounded-md cursor-not-allowed">
                                            <i class="chevrons-left h-4 w-4"></i>
                                            Previous
                                        </span>
                                    </li>
                                {% endif %}
                    
                                <!-- Page Numbers -->
                                {% for num in tenants.paginator.page_range %}
                                    <li class="flex-1 sm:flex-initial">
                                        {% if num == tenants.number %}
                                            <a href="#" class="transition duration-200 border items-center justify-center py-2 rounded-md cursor-pointer bg-primary text-white">{{ num }}</a>
                                        {% else %}
                                            <a href="?page={{ num }}&page_size={{ tenants.paginator.per_page }}" class="transition duration-200 border items-center justify-center py-2 rounded-md cursor-pointer">{{ num }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                    
                                <!-- Next Page -->
                                {% if tenants.has_next %}
                                    <li class="flex-1 sm:flex-initial">
                                        <a href="?page={{ tenants.next_page_number }}&page_size={{ tenants.paginator.per_page }}" class="transition duration-200 border items-center justify-center py-2 rounded-md cursor-pointer">
                                            Next
                                            <i class="chevron-right h-4 w-4"></i> <!-- Right Chevron icon -->
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="flex-1 sm:flex-initial">
                                        <span class="transition duration-200 border items-center justify-center py-2 rounded-md cursor-not-allowed">
                                            Next
                                            <i class="chevron-right h-4 w-4"></i>
                                        </span>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    
                        <!-- Page Size Selector -->
                        <form method="get" action="" class="inline-block">
                            <select name="page_size" onchange="this.form.submit()" class="transition duration-200 ease-in-out text-sm border-slate-200 shadow-sm rounded-md py-2 px-3 pr-8 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50">
                                <option value="10" {% if tenants.paginator.per_page == 10 %}selected{% endif %}>10</option>
                                <option value="25" {% if tenants.paginator.per_page == 25 %}selected{% endif %}>25</option>
                                <option value="50" {% if tenants.paginator.per_page == 50 %}selected{% endif %}>50</option>
                            </select>
                        </form>
                    </div>
                    
                    <!-- END: Pagination -->
                </div>
            </div>
            
            <!-- END: Content -->
        </div>
    </div>
{% endblock %}
